In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('newdata/csv/newdata.csv')
df.head()

   no_paths  no_points  drawing
0         5        883      car
1         4        596     fish
2         8        571    house
3         3        575     tree
4         5        586  bicycle

In [3]:
df.shape

(5507, 3)

In [6]:
df['drawing'].unique()

array(['car', 'fish', 'house', 'tree', 'bicycle', 'guitar', 'pencil',
       'clock'], dtype=object)