In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('newdata\\csv\\newdata.csv')
df.head()

   no_paths  no_points  drawing
0         5        883      car
1         4        596     fish
2         8        571    house
3         3        575     tree
4         5        586  bicycle

In [5]:
df.tail()

      no_paths  no_points  drawing
5723         3        572     tree
5724        10        703  bicycle
5725        11        613   guitar
5726         8        990   pencil
5727         1        124    clock